html, body {
    height: 100%;
}

body {
    color: #bfbfbf;
    background: #363636;
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
}

h1 {
    color: white;
}
a {
    text-decoration : none;
}

.titreBillet {
    margin-bottom : 0px;
}

#global {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);    box-shadow: 5px 5px 15px 5px #000000;
    min-height: 100%;  /* Voir commentaire sur html et body plus haut */
    background: #151515;
    width: 70%;
    margin: auto;    /* Permet de centrer la div */
    text-align: justify;
    padding: 5px 20px;
}

#contenu {
    margin-bottom : 30px;
}

#titreBlog, #piedBlog {
    text-align: center;
}